# ---------------------------
# Python / Backend
# ---------------------------
_pycache_/
*.pyc
venv/
.env
database.db

# ---------------------------
# Node / Frontend
# ---------------------------
node_modules/
dist/

# ---------------------------
# Env files
# ---------------------------
.env.local
.env.production

# ---------------------------
# Logs
# ---------------------------
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ---------------------------
# OS junk
# ---------------------------
.DS_Store
Thumbs.db