# ======================
# Backend (Python)
# ======================
_pycache_/
*.pyc
venv/
.env
database.db

# ======================
# Frontend (Node / Vite)
# ======================
node_modules/
dist/
.env.local
.env.production

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ======================
# OS junk
# ======================
.DS_Store
Thumbs.db